body {
    background-color: #413e4f;
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    color: white;
    height: 3000px;
    text-align: center;
}

section{position: relative;}
.content {
    position: relative;
    position: -webkit-sticky;
    width: 100%;
    top: 33.3%;
    height: 500px;
}
.innerContent{
    position: absolute;
    text-align: center;
}
section:nth-of-type(0) {
    height: 1000px;
}
section:nth-of-type(1) {
    height: 1000px;
}
section div:nth-child(1) {
    height: 500px;
    /* background-color: rgb(127, 255, 212,0.9); */
    border-radius: 20px;
}