html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-track{background:#2d2d2d;}
::-webkit-scrollbar-thumb{background: #e6e6e6;}
::-webkit-scrollbar-thumb:hover{background-color: rgb(242, 0, 0);}
* {box-sizing: border-box;}
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.4rem;
    /* background-color: #e6e6e6; */
    background-image: url(/video/intro.gif);
}
header{
    margin: 0;
    height: 100vh;
    /* background-color: black; */

    z-index: -5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    margin-top: 0;
    margin-left: 3em;
    padding-top: 2em;
}
p{
    font-size: 24pt;
    height: auto;
    width: auto;
    margin-top: 0;
    font-family: courier-std, monospace;
    /* font-family: typeka, sans-serif; */
    /* font-family: nitti-typewriter-normal, sans-serif; */

}
.altFont{ 
    font-family: nitti-typewriter-cameo, sans-serif;
}
/* fade in from left from https://www.tutorialspoint.com/online_html_editor.php */
/* triggering on scroll in https://coolcssanimation.com/how-to-trigger-a-css-animation-on-scroll/ */
@keyframes textEnter{
    0%{
        opacity: 0;
        transform: translateX(-15vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.textFade{
    animation-name: textEnter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    /* or{ animate textEnter 1.5s 1 */
}
/* not sure if I want a buffer or another one of those custom transitions, depends on video */
.buffer{background-color: #e6e6e6; height: 55vh;}
.container{
    position: relative;
    background-color: #e6e6e6;
    height: 100vh;
}
.containerText{
    height: inherit;
    padding: calc(50vh - 1em) 0;
}
.fade{
    background-image: url(/test/testfade.png);
    height: 1430px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fadeWhiteBlack{
    background-image: url(whiteblackfade.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .fadeInverse{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
#bound-one {
    background: #e6e6e6;
}
#bound-two {
    background: #dfcece;
}
#bound-three {
    background: #D0D6B3;
}
.scroll-bound {
    height: 500vh;
}
.content {
    height: 100vh;
    width: 100%;
    position: sticky;
    top:0;
    background-color: black;
}
video {
    position: relative;
    top: -.1px;
    /* height: calc(100% + 1px); */
    width: 100%;
    object-fit: cover;
}
p{
    text-align: center;
}
.inbetweens{
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: #2d2d2d;
    /* font: ; */
}
.inbetweens-black{
    background-image: url(black-paint-splatter.jpg);
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}